[licenses]
confidence-threshold = 0.9
allow = [
    "MIT",
    "Apache-2.0",
    "Unicode-3.0",
]

[bans]
multiple-versions = "warn"
wildcards = "deny"

workspace-default-features = "allow"
external-default-features = "allow"

[sources]
unknown-registry = "deny"
unknown-git = "deny"

allow-registry = ["https://github.com/rust-lang/crates.io-index"]

[sources.allow-org]
github = []

[advisories]
yanked = "deny"
unmaintained = "all"
ignore = ["RUSTSEC-2024-0436"]
